[*]
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.js]
indent_style = space
indent_size = 2
ij_javascript_enforce_trailing_comma = whenmultiline
ij_javascript_force_semicolon_style = true
ij_javascript_spaces_within_imports = true
ij_javascript_spaces_within_object_literal_braces = false
ij_javascript_use_double_quotes = true
ij_continuation_indent_size = 4
